.App {
  text-align: center;
}

button {
  margin: 10px;
}

button {
  margin: 2px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color:#4169E1;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  color: white;
}