.send-message {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}

#message {
    width: 80%;
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    background-color: lightgray;
    border: none
}