.sign-in-form {
  background-color: #ced5dc;
  height: 90%;
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border-radius: 20px; */
  margin-bottom: 30px;
}
