.message-detail {
<<<<<<< HEAD
    border: 2px solid black;
    width: 50%;
    border-radius: 30px;
    background-color: aquamarine;
    text-align: left;
    padding: 10px;
}

.message-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
=======
  border: 2px solid black;
  width: 50%;
}
>>>>>>> 53019e5a35c9593882f93f5cc5c599206fd4d21d
