.message-detail {
    /* background-color:	#4169E1; */
    width: 50%;
    border-radius: 30px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: white;
}

.message-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user {
    background-color:	#4169E1;
    align-self: right;
}
.other-user {
    background-color: gray;
}