.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message-list {
    margin: 0 auto;
    width: 80%;
}

.refresh, .add {
    border: none;
    padding: 10px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: gray;
    /* box-shadow: 0px 2px 5px 1px rgb(54, 54, 54) */
}

.refresh:hover, .add:hover {
    box-shadow: 0px 2px 8px 2px rgb(54, 54, 54)
}

.refresh img {
    width: 20px;
    padding: 3px;
}

.add img {
    width: 25px;
}
