.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  border: 2px black solid;
  margin: 20px 0px 20px 0px;
  background-color: lightgray;
  align-items: center;
}

.user-container a {
  width: 100px;
  color: #000000;
}

.user-container a:hover {
  color: #ffffff;
}

.user-container p {
  width: 100px;
  font-style: italic;
  font-size: 14px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  body,
  .user-container {
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 340px;
    font-size: 25px;
  }

  .profile-pic {
    width: 50%;
    border-radius: 50%;
    margin-top: 25px;
  }
}
