.search-input {
  text-transform: uppercase;
  font-weight: bold;
}

#search {
  background-color: lightgray;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  width: 60%;
  margin-top: 25px;
}
