.search-input {
    text-transform: uppercase;
    font-weight: bold;
}

#search {
    background-color: darkgray;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
}